<div class="container">
  <section id="content">
    <form action="">
      <h1>Your drives</h1>
      <table width="100%" height ="100%">
        <tr>
          <td width="50%">
            <a href="https://www.dropbox.com/1/oauth2/authorize?response_type=code&client_id=p8ohrm26izkscws&redirect_uri=http://localhost:8080/drive-service/rest/DropBox/Response"><img src="../../../assets/dropBoxIcon.png"></a>
            <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&access_type=offline&redirect_uri=http://localhost:8080/drive-service/rest/googleDrive/Response&response_type=code&client_id=559854928491-b84f4ejfdhooej6rmqcvqfo4gsiveph1.apps.googleusercontent.com">
              <img src="../../../assets/gDriveIcon.png">
            </a>
          </td>
        </tr>
      </table>
        <input  (click)="goHome()" type="submit"  value="Start" />

    </form><!-- form -->
  </section><!-- content -->
</div><!-- container -->
